<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stjosephcollegeofengineering.sjcebusrouteapp">

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.stjosephcollegeofengineering.sjcebusrouteapp.RegisterVerifyActivity"></activity>
        <activity android:name="com.stjosephcollegeofengineering.sjcebusrouteapp.RegisterActivity" />
        <activity android:name="com.stjosephcollegeofengineering.sjcebusrouteapp.LoginDriverActivity" />
        <activity android:name="com.stjosephcollegeofengineering.sjcebusrouteapp.LoginUserActivity" />
        <activity android:name="com.stjosephcollegeofengineering.sjcebusrouteapp.LoginActivity" />
        <activity android:name="com.stjosephcollegeofengineering.sjcebusrouteapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>


</manifest>